html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 1.23em;
  font-family: "Averia Sans Libre", cursive, "PT Sans Narrow", sans-serif;
}
code {
  font-size: 0.98em;
}
.slides {
  box-sizing: border-box;
  margin: 0;
  padding: 6px;
  height: 100%;
  width: 100%;
}
.slide.example.hide,
.slide.page.hide {
  display: none;
}
.outerCode .CodeMirror,
.page .CodeMirror {
  height: auto;
}
.page h1 {
  padding-top: 14px;
  text-shadow: 0 0 2px #fff, 0 0 6px #00000099;
  font-variant: small-caps;
}
.slide.example.small-intro.current .intro .CodeMirror,
.slide.example.small-html.current .html .CodeMirror,
.slide.example.small-css.current .css .CodeMirror,
.slide.example.small-js.current .js .CodeMirror {
  font-size: 0.8em;
}
.hover:hover {
  transform: scale(1.1);
  z-index: 1000;
  transition: 300ms;
}

.site {
  width: 100%;
  height: 100vh;
}

.big1 {
  font-size: 1em;
}
.big2 {
  font-size: 1.2em;
}
.big3 {
  font-size: 1.4em;
}

@media (min-width: 780px) {
  .big1 {
    font-size: 1.2em;
  }
  .big2 {
    font-size: 1.4em;
  }
  .big3 {
    font-size: 1.6em;
  }
}
@media (min-width: 980px) {
  .big1 {
    font-size: 1.3em;
  }
  .big2 {
    font-size: 1.5em;
  }
  .big3 {
    font-size: 1.8em;
  }
  .big4 {
    font-size: 2.6em;
  }
  .big5 {
    font-size: 3.2em;
  }
  .big6 {
    font-size: 4em;
  }
}
.img-inline {
  height: 40px;
  border: 1px solid greenyellow;
  padding: 2px;
  background-color: black;
  cursor: zoom-in;
  /* transition: 300ms; */
}
.img-inline-hover {
  display: block;
  margin: 0 auto;
  position: fixed;
  width: auto;
  height: auto;
  top: 30px;
  box-shadow: 0 0 100px black;
  cursor: zoom-out;
  transition: 150ms;
  z-index: 2000;
}

.blink-item {
  opacity: 0.1;
  transition: opacity 1s;
}
.blink-item-active {
  opacity: 0.5;
}
.blink-item-current {
  transition: opacity 1s;
  opacity: 1;
  border-top: 16px solid #ccc;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  margin-top: 0.3em;
  border-bottom: 6px solid #ccc;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    background-color: #ffffffff;
  }

  50% {
    opacity: 1;
    background-color: #f66;
  }
  100% {
    opacity: 0.5;
    background-color: #ffc0c0;
  }
}
@keyframes zoomOut {
  from {
    opacity: 1;
    background-color: #ffffffff;
  }

  50% {
    opacity: 0.5;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    background-color: #f66;
  }

  to {
    opacity: 0;
    background-color: #ffffffff;
  }
}
@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

h1,
h2 {
  background: url(../images/background.png) no-repeat center center;
  background-size: cover;
}

/* .excalidraw-wrapper {
  position: fixed;
  top: 3%;
  left: 3%;
  width: 94%;
  height: 94%;
  background: white;
  z-index: 1000;
  display: none;
}

.excalidraw {
  position: fixed  !important;
}
.excalidraw-btn {
  position: fixed;
  bottom: 20px;
  left: 45%;
  z-index: 900;
}

.close-excalidraw {
  position: fixed;
  bottom: 20px;
  left: 45%;
  z-index: 1001;
} */

.excalidraw-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1000;
  display: none;
}

#excalidraw-root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.excalidraw-btn {
  position: fixed;
  bottom: 0px;
  left: 45%;
  z-index: 900;
}

.excalidraw .App-menu-content {
  height: auto !important;
  max-height: 80vh;
  overflow-y: auto;
}

.excalidraw .App-menu {
  z-index: 1001;
}

.excalidraw {
  position: fixed !important;
}

div.layer-ui__wrapper > footer {
  padding-left: 10rem !important;
  bottom: 0.5rem !important;
}

div.layer-ui__wrapper > div > div > div.Stack.Stack_vertical.App-menu_top__left > div {
display: none;
}
div.layer-ui__wrapper > div > div > div.layer-ui__wrapper__top-right .library-button {
  display: none;
}

.excalidraw.excalidraw-modal-container   {
  z-index: 9000 !important;
}

kbd {
  color : white !important;
  background-color: black !important;
}