html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 1.23em;
    font-family: 'PT Sans Narrow', sans-serif;
}
code {
    font-size: 0.98em;
}
.slides {
    box-sizing: border-box;
    margin: 0;
    padding: 6px;
    height: 100%;
    width: 100%;
    
}
.slide.example.hide, .slide.page.hide {
    display: none;
}
.outerCode .CodeMirror, .page .CodeMirror {
    height: auto;
}
.page h1 {
    padding-top: 14px;
    text-shadow: 0 0 2px #FFF, 0 0 6px #00000099;
    font-variant: small-caps;
}
.slide.example.small-js.current .js .CodeMirror {
    font-size: 0.8em;
} 

