<div class="container-fluid">
    <h2>JQuery UI <code>Selectable</code></h2>
    <p>Enable a DOM element (or group of elements) 
        to be selectable. Draw a box with your cursor to select items. 
        Hold down the <kbd>Ctrl key</kbd> to make multiple 
        non-adjacent selections.</p>
    <p><a href="https://jqueryui.com/selectable/" target="_blank">
        Source jQueru UI
    </a></p>
    <hr>
    <h2>Adding Console support</h2>
    <p>You can log to the console exactly as you would by calling <code>console.log()</code>, <code>console.warn()</code>  or <code>console.error()</code>.
        The only constraint is that these methods only take a single argument. </p>
        <p>see examples in the <span class="badge bg-warning px-3 py-2">JS</span> tab</p>
        <p>To clear the console, just <strong>double click</strong> on it</p>
</div>