<div class="container-fluid">
    <br>
        <h2><code>enter()</code> et <code>exit()</code></h2>
        <p>Nous voulons garder l'équilibre entre les données et les éléments!</p>
        <p> Pour atteindre cet équilibre : <br>   
            On utilise <code>enter()</code> pour détecter et combler
            le manque en éléments. <br>
            On utilise <code>exit()</code> pour détecter et éliminier 
            le surplus des éléments.
        </p>
        <p>
            Les deux situations se produisent souvent quand les données sont dynamiques.
        </p>
</div>