<div class="container-fluid">
    <br>
        <h2>Les transitions; <small> mettre l'accent sur le changement !</small></h2>
        <p>Les transitions permettent de rendre compte su le 
            sens et l'intensité des variations des données.
        </p>
        <p> Si l'on considère l'exemple précédent : 
            <li>Quand une donnée est ajoutés à la liste, elle entre en scène de gauche 
            vers le centre. </li>
        <li>Et quand une donnée est supprimée de a liste, elle quitte la scène vers la droite.</li>
        </p>
        
</div>