<div class="container-fluid">
    <br>
    <h2><code>enter()</code>, <code>update</code> et <code>exit()</code> ensembles</h2>
    <p>
        Dans cet exemple nous jouons les trois patterns :
        <ul>
            <li><code>enter()</code> ou quand les nouvelles données dépassent les éléments existants</li>
            <li><code>update</code> ou quand les valeurs des nouvelles données ne coorespndent plus à 
                celles déjà affectées aux éléments
            </li>
            <li><code>exit()</code> ou quand les éléments existants dépassent les nouvelles données.</li>
        </ul>
    </p>
    <p>
        Chaque <code>500ms</code>, on modifie le tableau en alternant l'ajout d'un élément à 
        la fin du tableau et la suppression d'un élément du début tout en modifiant les valeurs
        des données du tableau.
    </p>
</div>