<div class="container-fluid">
    <h2>Courbes et interpolation</h2>
    <p>Pour définir comment les points de la courbe sont interpolés, 
        on utilise  la méthode <code>curve()</code> à laquelle on
        passe un interpolateur :
    </p>
    <p>
        <textarea class="myCode">const lineGen = d3.line()
    .curve( d3.curveCardinal)
    .x((d,i) => xScale(i))  /* x mis à l'echelle % à l'indice */
    .y( d => yScale(d))     /* y mis à l'echelle % à la donnée */
        </textarea>
    </p>
    <p>Dans ce cas les données fournies sont sous forme d'un tableau unidimentionnel.
         C'est le cas des "Time Series".</p>
    <p>
        On peut tester les interpolateurs définis dans <code>D3</code> comme : <br>
        <code>curveLinear</code> valeur par défaut, <code>curveCardinal</code>, 
        <code>curveCatmullRom</code>, <code>curveMonotone</code>, 
        <code>curveNatural</code> et <code>curveStep</code>
    </p>
</div>