<div class="container">
  <div class="mt-1">
    <h1 class="">Simple Slides</h1>
    <p class="lead">
      <strong>Simple slides</strong> is a framework that makes it easy to create
      presentations. The goal is to provide an environment to explain web
      technologies. <strong>Simple Slides</strong> incorporates CodeMirror to
      allow editing of HTML, CSS and Javascript without conflicting with the the
      presentation content.
    </p>
    <br><hr>
    <h2>Navigation</h2>
    <br>
    <p>Next slide: <kbd>&#8595;</kbd> or <kbd>Ctrl &#8594;</kbd></p>
    <p>previous slide: <kbd>&#8593;</kbd> or <kbd>Ctrl &#8592;</kbd></p>
  </div>
</div>
