<div class="container">
    <h1>How Simple Slides works <span class="badge badge-success">1</span></h1>
    <p class="blink-item">
        Create new <code>sp-slides</code> presentation in your machine : <br>
        <kbd>npx sp-slides new &lt;presentation&gt;</kbd>
    </p>
    <p class="blink-item">
        cd to presentation folder : <br>
        <kbd>cd &lt;presentation&gt;</kbd>
    </p>
    <p class="blink-item">
        Edit <code>index.html</code> file to add  slides (and partials). 
    </p>
    <p class="blink-item">
        Then run a local http server : <br>
        <kbd>npm run serve</kbd> <br>
        open <code>http://localhost:8000/</code> in the browser.
    </p>

</div>