<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>How Simple Slides works <span class="badge badge-success">2</span></h1>

            <p>
                There are two types of slides :
            <ul>
                <li>
                    Simple slides having <code>.page</code> css class : <br><hr>
                    <textarea class="myCode"><section class="slide page" data-page="p001"></section></textarea><hr>
                    the <code>data-page</code> attribute referse to <code>p001.html</code> page
                    located by default at <code>partials/pages</code> folder.
                </li>
                <li>
                    Example slides having <code>.example</code> css class : <br><hr>
                    <textarea class="myCode"><section class="slide example" 
    data-intro="p005"
    data-html="p005" 
    data-css="p005" 
    data-js="p005"> </section></textarea> <hr>
                    The above slide encapsulates <code>p005.html</code>, <code>p005.css</code>
                    and <code>p005.js</code> that will be executed in an isolated environment.
                </li>
            </ul>
            </p>
        </div>
        <div class="col-md-3">
            <img src="../../images/structure.png" class="img-fluid mt-5" alt="File strucure">
        </div>
    </div>

</div>