<div class="container ">
  <h1>Adding Excalidraw support <span class="badge bg-warning">New</span></h1>
  <br>
  <img src="/images/excalidraw.png" class="border shadow img-fluid" alt="Excalidraw support">
  <br> <br> <br>
  <p>Cliquez une puis une deuxième fois pour voir l'interface de <code>Excalidraw</code> en bas à gauche</p>
  <p>Cliquez sur le même bouton pour le fermer.</p>
  <br>
  <p>Pour plus d'infos sur excalidraw voir le 
    <a href="https://excalidraw.com/" target="_blank" class="btn btn-info">Site officiel</a></p>
</div>
