<div class="container ">
  <h1>Adding Mermaid support <span class="badge bg-warning">New</span></h1>
  <div class="row">
    <div class="col-6">
      <textarea class="myCode">
  <pre clgit remote ass="mermaid">
    %%{ init : { 
      "theme" : "default", 
      "themeVariables": { "fontSize": "20px" }
    }}%%

    graph TB
    A(Application React) --> B[Composants]
    B --> C[Props]
    B --> D[State]
    B --> E[JSX]
    E --> F[Virtual DOM]
    F --> G[DOM réel]
  
    style A fill:#FFF, color:#000
    style B fill:#005, color:#FFF
    style C fill:#050, color:#FFF
    style D fill:#050, color:#FFF
    style E fill:#050, color:#FFF
    style F fill:#500, color:#FFF
    style G fill:#50F, color:#FFF
  </pre>
  </textarea>
    </div>
    <div class="col-6">
      <pre class="mermaid">
        %%{ init : { 
          "theme" : "default", 
          "themeVariables": { "fontSize": "20px" }
        }}%%
        graph TB
      A(Application React) --> B[Composants]
      B --> C[Props]
      B --> D[State]
      B --> E[JSX]
      E --> F[Virtual DOM]
      F --> G[DOM réel]
    
      style A fill:#FFF, color:#000
      style B fill:#005, color:#FFF
      style C fill:#050, color:#FFF
      style D fill:#050, color:#FFF
      style E fill:#050, color:#FFF
      style F fill:#500, color:#FFF
      style G fill:#50F, color:#FFF
      </pre>
    </div>
  </div>
  
  
</div>
