<div class="container">
    <h1 class="mx-5">Additional Resources</h1>
    <ul class="list-group m-5">
        <li class="list-group-item">
            <a href="https://github.com/daaif/slides" target="_blank">Github repository </a>
        </li>
        <li class="list-group-item">
            <h2>who am I</h2>
            <p><kbd>Abdelaziz DAAIF</kbd></p>
            <p>Professor and Researcher at ENSET Mohammedia</p>
            <p>Hassan II University of Casablanca</p>
        </li>
        <li class="list-group-item">
            <h2>Licence</h2>
            <p><kbd>MIT</kbd></p>
        </li>
    </ul>
</div>