
<div class="container " style="width: 100%">
    <h1 class="text-center">Plan :</h1>
    <style>
        .plan a {
            text-decoration: none;
            text-shadow: 0 0 1px rgb(148, 5, 124);
        }
        .plan .list-group-item {
            padding: 10px 16px 2px;
        }
    </style>
    <div class="list-group plan">
            <div class="list-group-item  m-1">
                <a href="#2"><h2>Partie A : Introduction à d3.js </h2></a>
            </div>
            <div class="list-group-item m-1">
                <a href="#25"><h2>Partie B : Les graphiques en d3.js</h2></a>
            </div>
            <div class="list-group-item m-1">
                <a href="#25"><h2>Partie C : Chargement de données en d3.js</h2></a>
            </div>
            <div class="list-group-item m-1">
                <a href="#2"><h2>Partie D : Les Layouts en d3.js</h2></a>
            </div>
    </div>
</div>

