
<div class="container text-center" style="width: 100%">
        <h1>Data Visualization</h1>
        <h2>Data Driven Documents (D3)</h2>
        <h1>Introduction à <code>d3.js</code></h1>
        <div class="text-light bg-dark p-2">
            <h4>Abdelaziz DAAIF</h4>
            <br>
            <h3>ENSET Mohammedia</h3>
            <h3>Université Hassan II - Casablanca</h3>
        </div>
        <div><br>
        </div>
        <img class="d3" src="../../images/d3.jpg" alt="" width="300">
</div>

