<div class="container">
    <h1>How Simple Slides works <span class="badge badge-success">1</span></h1>
    <p>
        Install <code>sp-slides</code> globally : <br>
        <kbd>npm i -g sp-slides</kbd>
    </p>
    <p>
        Create new presentation : <br>
        <kbd>sp-slides new &lt;presentationName&gt;</kbd>
    </p>
    <p>
        cd to presentation folder : <br>
        <kbd>cd &lt;presentationName&gt;</kbd>
    </p>
    <p>
        Edit <code>index.html</code> file to add  slides. 
    </p>
    <p>
        Then run a local http server : <br>
        <kbd>npm run serve</kbd> <br>
        open <code>http://localhost:8000/</code> in the browser.
    </p>

</div>