<div class="container">
        <h1 class="text-center">C'est quoi D3.js ?</h1>
        <ul class="list-group ">
            <li class="list-group-item m-1">
                <code>D3.js</code> est une bibliothèque <code>JavaScript</code> pour la manipulation 
                de documents basés sur des données. 
            </li>
            <li class="list-group-item m-1">    
                D3 vous aide à donner vie
                aux données en utilisant <code>HTML</code>, <code>SVG</code> et <code>CSS</code>.
            </li>
            <li class="list-group-item m-1">
                L’accent mis par D3 sur les normes Web vous offre toutes 
                les capacités des  navigateurs modernes sans vous lier 
                à un cadre propriétaire.
            </li>
            <li class="list-group-item m-1">
                <code>D3.js</code> combine des composants de visualisation puissants et une 
                approche de la manipulation <code>DOM</code> basée sur les données.
            </li>
            <li class="list-group-item m-1">
                Utilisez <code>D3.js</code> en l'incluant dans votre page : <br>
                <code>&lt;script src="https://d3js.org/d3.v5.min.js">&lt;/script></code>
            </li>
        </ul>
</div>