<div class="container">
        <h1 class="text-center">Principes de D3.js </h1>
        <ul class="list-group p-1">
            <li class="list-group-item  m-1">
                    D3 vous permet de lier des données arbitraires à un
                     <code>DOM</code> (Document Object Model), puis d'appliquer des transformations 
                     pilotées par les données au document. <br>
                     Par exemple, vous pouvez utiliser D3 pour générer un tableau HTML à 
                     partir d'un tableau de nombres. Ou bien, utiliser les mêmes données 
                     pour créer un diagramme à barres <code>SVG</code> interactif avec des transitions 
                     et une interaction fluides.
            </li>
            <li class="list-group-item  m-1">    
                    D3 n'est pas un framework monolithique qui cherche à fournir toutes les fonctionnalités imaginables. 
                    Au lieu de cela, D3 résout le noeud du problème: la manipulation efficace des documents basés sur 
                    des données. Cela évite les représentations propriétaires et offre une flexibilité extraordinaire, 
                    en exposant toutes les capacités des standards Web tels que <code>HTML</code>, <code>SVG</code> 
                    et <code>CSS</code>. <br> 
                    Avec une surcharge minimale, D3 est extrêmement rapide et prend en charge 
                    de grands ensembles de données et des comportements dynamiques pour l’interaction et l’animation. <br>
                    Le style fonctionnel de D3 permet la réutilisation du code grâce à une collection diversifiée de 
                    modules officiels et développés par la communauté.
            </li><br>
            
        </ul>
</div>