<div class="container">
    <h1>Here is the content of this presentation</h1>
    <p>
    <textarea class="myCode"><body>
    <section class="slides">
        <section class="slide page" data-html="p001"></section>
        <section class="slide page" data-html="p002"></section>
        <section class="slide page" data-html="p003"></section> <!-- previous slide -->
        <section class="slide page" data-html="p004"></section> <!-- we are here -->

        <section class="slide example"
                data-intro="p005" 
                data-html="p005" 
                data-css="p005" 
                data-js="p005"> </section> <!-- next slide-->

        <section class="slide page" data-html="p006"></section>
    </section>
    <div id="templates"></div>
    <script src="js/slides4.js"></script>
</body></textarea>
    </p>

</div>