<div class="container">
    <h1>Additional Resources</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="https://github.com/daaif/slides" target="_blank">Github repository </a>
        </li>
        <li class="list-group-item">
            <h2>who am I</h2> 
            <p><kbd>Aziz DAAIF</kbd></p>
            <p>Teacher researcher at  ENSET Mohammedia</p>
            <p>Hassan II University of Casablanca</p>
        </li>
        <li class="list-group-item">
            <h2>Licence</h2>
            <p><kbd>MIT</kbd></p>
        </li>
    </ul>
</div>