<div class="container-fluid">
    <h1>Mise à l'Echelle des Données</h1>
    <ul>
        <li>Les données varient entre <code>0</code> et <code>1000</code> (Domain)</li>
        <li>Les barres varient entre <code>0px</code> et <code>400px</code> (Range)</li>
    </ul>
    <p class="small">Ne pas oublier que les coordonnées (0,0) par défaut dans SVG représentent le
        coin haut gauche.
    </p>
    <p class="small">
        Appelons la fonction fabrique <code>scaleLinear()</code> et paramétrons-la 
        pour les valeurs ci-dessus :
        <br>
        <textarea class="myCode ">  const y = d3.scaleLinear()
        .domain([0, 1000])
        .range([400, 0])
    console.log( y(0) ) /* 400 */
    console.log( y(500) ) /* 200 */
    console.log( y(1000) ) /* 0 */</textarea>
    <p class="small">
            On peut de la même manière définir une couleur correspondant aux données :
            <br>
            <textarea class="myCode ">  const color = d3.scaleLinear()
        .domain([0, 1000])
        .range(['green', 'red'])
    console.log( color(0) ) /* '#00FF00' */
    console.log( color(1000) ) /* '#FF0000' */</textarea>                
    
    
</div>