<div class="container-fluid">
        <h1> Tracer un Graphique à Barres</h1>
        <h2>Méthodologie à suivre</h2>
        <p class="small">On suppose que nous voulons tracer le graphique à barres pour représenter 
            les données fictives suivantes :
            <br>
            <textarea class="myCode ">  const bourse = [
        { label: 'AA', valeur: 300},
        { label: 'BB', valeur: 340},
        { label: 'CC', valeur: 220},
        { label: 'DD', valeur: 180},
        { label: 'EE', valeur: 2300}
    ]</textarea>
        </p>
        <p class="small">Le graphique doit présenter un axe horizontal étiqueté par les labels, un axe vertical 
            présentant les valeurs.
        </p>
        <ol class="small">
            <li>Définir les marges du graphique</li>
            <li>Définir l'échelle pour l'axe horizontal <code>x</code></li>
            <li>Créer l'axe horizontal <code>x</code> et l'ajouter au graphique</li>
            <li>Définir l'échelle pour l'axe vertical <code>y</code></li>
            <li>Créer l'axe vertical <code>y</code> et l'ajouter au graphique</li>
            <li>Ajouter les barres</li>
        </ol>
        
    </div>