<div class="container">
    <h1>Quelques Ressources</h1>
    <ul> 
        <li><a href="https://d3js.org" target="_blank">Site officiel de <code>d3.js</code></a></li>
        <li><a href="https://github.com/d3/d3/wiki" target="_blank">Documentation officielle </a></li>
        <li><a href="https://github.com/d3/d3/wiki/Gallery" target="_blank"> Exemples </a></li>
        <li><a href="https://bl.ocks.org/" target="_blank"> Encore ne infinité d'exemples ( <code>bl.ocks.org</code> )  </a></li>
    </ul>
</div>