<div class="container p030">
    <style>
        .p030 img {
            margin: 40px;
            float: right;
        }
    </style>
    <h1>Graphique Camembert</h1>
    <div class="">
    <!-- <div class="row"> -->
        <!-- <div class="col-md-4"> -->
            <img src="../../images/camembert.png" alt="" width=40%">
        <!-- </div>  -->
        <!-- <div class="col-md-8"> -->
        <h2>La création d'un Comembert se fait selon les étapes suivantes :</h2>
        <ol>
            <li>
                Création  du générateur de tranches à l'aide de <code>d3.pie()</code>. 
                Ce générateur pertmettra de (mapper) transformer les données en ajoutant 
                des caractéristiques de la tranche; <code>startAngle()</code>, 
                <code>endAngle()</code> etc. <br>
                

            </li>
            <li>
                Utilisation des données transformées pour générer les attributs <code>d</code>
                des éléments <code>&lt;path&gt;</code> pour chacune des tranches. Cette 
                opération est réalisée à l'aide du générateur <code>d3.arc()</code>. Le rayon du 
                Camember est configuré à l'aide de la propriété <code>outerRadius()</code> et
                 éventuellement un rayon intérieur avec <code>innerRadius()</code>
            </li>
        </ol>
           
        <!-- </div> -->

    </div>
</div>