<div class="container p031">
        <style>
            .p031 img {
                margin-left: 40px;
                margin-top: 220px;
                margin-block-end: 20px;
                float: right;
                width: 50%
            }
        </style>
        <h1>Graphique Camembert</h1>
        <div class="">
                <img src="../../images/pie_generator.png" alt="" >
            <h2>1 - Générateur de tranches :</h2>
            <ul>
                <li>
                    Supposons que les données sont représentées par le tableau suivant : 
                    <textarea class="myCode">  const data = [25, 50, 25]</textarea>
                </li>
                <li>
                    Création du générateur du Camembert :
                    <textarea class="myCode">  const tranches = d3.pie()
    .startAngle(-Math.PI) 
    .endAngle(Math.PI)
    /* .padAngle(0.01 * Math.PI */ </textarea>
    
                </li>
                <li>
                    Utilisation du générateur :
                    <textarea class="myCode">  console.log( tranches(data) )</textarea>
                </li>
                <li>
                    Sortie de la console : <br>
                    
                </li>
            </ul>
               
            <!-- </div> -->
    
        </div>
    </div>