<div class="container p032">
        <!-- <style>
            .p032 img {
                margin-left: 40px;
                margin-top: 220px;
                margin-block-end: 20px;
                float: right;
                width: 50%
            }
        </style> -->
        <h1>Graphique Camembert</h1>
        <div class="">
                
            <h2>2 - Générateur de commande pour <code>&lt;path&gt;</code> :</h2>
            <ul>
                <li>
                    Le générateur de données de l'attribut <code>d</code> de code &lt;path&gt; :
                    <textarea class="myCode">const arcData = d3.arc()
    .innerRadius(40)
    .outerRadius(120)</textarea>
                </li>
                <li>
                    En reprenant le code de la page précédente : 
                    <textarea class="myCode">const data = [25, 50, 25]
const tranches = d3.pie().startAngle(-Math.PI).endAngle(Math.PI)</textarea>
                </li>
                <li>
                    On peut afficher dans la console la valeur de l'attribut <code>d</code> du premier arc :
                    <textarea class="myCode">const tranchesData = tranches(data)
console.log( arcData( tranchesData[0] )</textarea>
                </li>
                <li>
                    Ce qui produit : <br>
                    <textarea class="myCode nolines" >    M6.063858597689164e-14,-120 A120,120,0,0,1,120,7.993605777301127e-14 
    L60,3.9968028886505635e-14 A60,60,0,0,0,3.031929298844582e-14,-60 Z </textarea>
    
                </li>
            </ul>
               
            <!-- </div> -->
    
        </div>
    </div>