<div class="container">
    <h1>Cahrgement de données avec <code>D3</code></h1>
    <p>
        <code>D3</code> présente un ensemble de fonctions permettant d'acquérir 
        les données à partir du réseau. Toutes ces fonctions utilisent l'API 
        <code>fetch</code> qui se base sur le modèle des promesses.
    </p>
    <p>
        Plusieurs parseurs sont disponibles pour récupérer et parser à la volée des
        données de types CSV, TSV, XML, JSON etc. 
        <ul>
            <li><code>d3.xml()</code></li>
            <li><code>d3.csv()</code></li>
            <li><code>d3.tsv()</code></li>
            <li><code>d3.json()</code></li>
            <li><code>d3.image()</code></li>
            <li><code>d3.text()</code></li>
        </ul>
    </p>
</div>